.Warning {
    background-color: #B30000;
    height: 100vh;
    overflow-y: scroll;
}

.Warning svg {
    height: 30vh;
    width: 30vh;
    fill: white;
}

.Warning h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 1;
}

.Warning p {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
}

.Warning .btn {
    background-color: white;
    color: #B30000;
    font-weight: 800;
    font-size: 30px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: none;
    margin-top: 60px;
}

.Warning .btn:hover {
    opacity: 0.9;
}

.Warning::-webkit-scrollbar {
	width: 1rem;
}

/* Track */
.Warning::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
.Warning::-webkit-scrollbar-thumb {
	background: var(--color-container);
	border-radius: 1rem;
}