.main-container {
    height: 82vh;
}

.main-container .title {
    font-size: 2.7rem;
    font-weight: 1000;
}

.main-container .text {
    font-size: 2.4rem;
    font-weight: 700;
    color: #222C34;
}

.date-container,.weather-container {
    height: 32%;
    font-size: 4rem;
    font-weight: 900;
}

.container-properties {
    height: 100%;
    border-radius: 20px;
}

.date-container div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container .location {
    font-size: 2rem;
    font-weight: bold;
}

.gas-container {
    height: 57%;
}

.rest-container {
    height: 40.7%;
}

.main-container .celsius {
    font-size: 10rem;
    font-weight: 800;
}

.main-container .button {
    cursor: pointer;
    border-radius: 60%;
}