#dashboard {
    height: 82vh;
}

.date-container,.weather-container {
    height: 32%;
    font-size: 4rem;
    font-weight: 900;
}

.container-properties {
    height: 100%;
    border-radius: 20px;
}

.date-container div:first-child, .weather-container div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container .location {
    font-size: 2rem;
    font-weight: bold;
}