/* .Signup {
    background-image: url("../assets/img/background2.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
} */

.Signup .invalid-feedback {
    font-size: 16px;
}

.Signup .alert {
    font-size: 16px;
    background-color: #B30000;
    color: white;
    border-radius: 10px;
    width: 97%;
}

.Signup .signup-to {
    backdrop-filter: blur(7.5px);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Signup h1 {
    font-weight: 900;
    font-size: 48px;
}

.Signup .signup-to svg {
    width: 120px;
    margin-right: 12px;
}

.Signup h2 {
    font-weight: 700;
    font-size: 32px;
}

.Signup .form-label {
    font-weight: 700;
    font-size: 20px;
}

.Signup .form-control {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.Signup .form-control:focus {
    border: 1px solid var(--color-header);
}

.Signup button {
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 0 0 #ff8e62;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.Signup button:hover {
    /* opacity: 0.8; */
    box-shadow: inset 400px 0 0 0 #ff8e62;
}

.Signup button:focus {
    outline: none;
}

.Signup p {
    font-weight: 500;
    font-size: 16px;
}

.Signup span p:hover {
    cursor: pointer;
    font-weight: 700;
}

.Signup span {
    display: inline-block;
    position: relative;
}
  
.Signup span p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-header);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.Signup span p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}