/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-moz-user-select: none !important;
	-webkit-touch-callout: none!important;
	-webkit-user-select: none!important;
	-khtml-user-select: none!important;
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
	height: 100%;
}

.test {
    width: 20em;
    height: 20em;
    background-color: black;
}

* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	box-sizing: border-box;
	/* background-color: #F0EAE2; */
	font-family: 'Nunito', sans-serif;
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("img/background1.jpg");

	/* Full height */
	height: 100vh;
	/* position: fixed; */
	top: 0;
	left: 0;
	overflow-y: scroll;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

:root {
	--color-sleepy: #EDB544;
	--color-header: #F29E7D;
	--color-main: #2B5C64;
	--color-text: #222C34;
	--color-container: rgba(255, 255, 255, 0.5);
	--color-background: #FFFFFF;
}

.text-sleepy {
	color: var(--color-sleepy);
}

.text-header {
	color: var(--color-header);
}

.text-main {
	color: var(--color-main);
}

.text-text {
	color: var(--color-text);
}

.text-container {
	color: var(--color-container);
}

.text-background {
	color: var(--color-background);
}

.bg-sleepy {
	background-color: var(--color-sleepy);
}

.bg-header {
	background-color: var(--color-header);
}

.bg-main {
	background-color: var(--color-main);
}

.bg-text {
	background-color: var(--color-text);
}

.bg-container {
	background-color: var(--color-container);
}

.bg-background {
	background-color: var(--color-background);
}

.container-blur {
	backdrop-filter: blur(8px);
}
