#logo {
    width: 100%; 
    height: 7.5rem;
    margin-top: 3rem;
    align-items: center;
}

.sidebar-menu {
    width: 40px;
    margin: 5rem auto;
}

.sidebar-icon {
    width: 4rem; 
    height: 4rem;
}

.sidebar-icon.select {
    background-color: var(--color-header) !important;
}

.sidebar-icon:not(:last-child) {
    margin-bottom: 8rem;
}